body {
  margin: 0 auto;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.nav {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #071419;
  margin: none;
}

.navheader {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  display: inline-block;
}

.navright {
  float: right;
  display: inline-block;
  margin-top: 20px;
  margin-right: 40px;
}

.home {
  height: 661px;
  margin: 0 auto;
  text-align: center;
}

.banner {
  margin: 0;
  text-align: center;
  color: white;
}

.temp {
  color: white;
}

.forecast{
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  margin: 0 auto;

}

input {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin: 5px;
}

.weathercard {
  display: inline-block;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  width: 150px;
  height: 200px;
  margin: 20px;
  padding: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.weathercard:hover {
  box-shadow: 3px 3px 5px 6px #8e418a;
}

.weatherdetail {
  text-align: center;
}

.weatherdetail img {
  width: 300px;
  margin: 20px;
}

.weatherdetail ul {
  list-style: none;
  font-size: 30px;
}

.weatherdetail li {
  margin: 10px;
}

.imageholder {
  height: 30px;
}

.b {
  display: inline-block;
}



.home {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  background: url('./images/weather_background.jpg')  no-repeat;
  background-size: cover;
}
